<!doctype html>
<head>
<title>Redpics</title>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='stylesheet.css') }}">
</head>

{% if logged_in %}
	<p>Logged in as: {{ username }} || <a href="/logout">log out</a></p>
	{% for post in posts %}
	  <div class="post">
		  <a href="{{post['url']}}"><img src="{{ post['thumbnail'] }}" width="200px" height="300px"/></a>
	  </div>
	{% endfor %}
{% else %}
	{% if failed_login %}
	<p>Wrong username or password</p>
	{% endif %}
	<form action="/" method="post">
		<dl>
			<dt>Username:</dt>
			<dd><input type="text" name="username" /></dd>
			<dt>Password</dt>
			<dd><input type="password" name="password"></dd>
			<dt>Limit:</dt>
			<dd><input type="text" name="limit" /></dd>
			<dd><input type="submit" value="login"></dd>
		</dl>
	</form>
{% endif %}